@using OceniTest.Common
@using OceniTest.Data.Models
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="navigation-authentication-list">
    @if (this.SignInManager.IsSignedIn(this.User))
    {
        <li class="navigation-authentication-list-item">
            <a asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage"><i class="far fa-user-circle"></i></a>
        </li>
        if (this.User.IsInRole(GlobalConstants.AdministratorRoleName))
        {
            <li class="navigation-authentication-list-item">
                <a asp-area="Administration" asp-controller="Dashboard" asp-action="Index" title="Admin">Admin</a>
            </li>
        }
        <li class="navigation-authentication-list-item">
            <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@(this.Url.Action("Index", "Home", new { area = string.Empty }))">
                <button class="authentication-btn" type="submit">Logout</button>
            </form>
        </li>
    }
    else
    {
        <li class="navigation-authentication-list-item">
            <a class="authentication-btn" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </li>
        <li class="navigation-authentication-list-item">
            <a class="authentication-btn" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
    }
</ul>
