@model OceniTest.Web.ViewModels.Pagination.PaginatedListViewModel<OceniTest.Web.ViewModels.Quizzes.SurveyViewModel>

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
    var nextPage = Model.PageIndex + 1;
    var prevPage = Model.PageIndex - 1;
}

<nav>
    <ul class="pagination-list">
        <li class="pagination-list-item" @prevDisabled>
            <a class="page-link" asp-route-id="@prevPage">Previous</a>
        </li>
        <li class="pagination-list-item" @nextDisabled>
            <a class="page-link" asp-route-id="@nextPage">Next</a>
        </li>
    </ul>
</nav>
