<h1>Authorization has failed but it is required.</h1>
<h3>You can either log in using a local account or an external provided.</h3>
<a class="authentication-btn" asp-area="Identity" asp-page="/Account/Login">Login</a>
